---
layout: archive
title: "Comics"
permalink: /comics/
author_profile: true
---
<img src="../images/recessionbear_header.png"></img>

{% include base_path %}
{% for post in site.comics reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


<h3>Nyetoon 2012 - 2020</h3>
<img src="../images/nyetoon_header.png"></img>
<br>
<a href="../comics/2020-05-06-nyetoon-tobytoon">TobyToon</a>
<br>
Driving Comics
<br>
Fatherhood and Failure
<br>
Nyetoon On Paper
<br>
Marketing and Lawyers
<br>
Getting Married
<br>
Taking Breaks and Meh
<br>
Net Neutrality
<br>
Finding my Stride
<br>
Lisa Comics
<br>
The First Nyetoons
<br>
<h3>The Interdimensional Adventures of Floyd and Norm (2015)</h3>
<img src="../images/floydnorm_header.png"></img>
<br>
Floyd and Norm – Part 01
<br>
Floyd and Norm – Part 02
<br>
Floyd and Norm – Part 03
<br>
<h3>Recession Bear Comics</h3>
<img src="../images/recessionbear_header.png"></img>
<br>
Recession Bear 01
<br>
Recession Bear 02
<br>
<h3>Miscellaneous Comics (2010 – 2013)</h3>
<img src="../images/misccomics_header.png"></img>
<br>
The Sanity Index
<br>
A Little Death
<br>
Early Absurdity
<br>
The Guys with the Ties
