---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Machine Learning Experiments
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

Game Development
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

Previsualization
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

Animation
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

Comics
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

Experiements
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
