---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I am currently the Associate Chair of Interactive Design and Game Development at the Savannah College of Art and Design. In addition to
teaching, I assist in the management of the department, while strategizing how to facilitate the creation and promotion of student game projects.
My artistic focus and research is about real time animation systems for characters and AI. I also teach classes in portfolio development,
game design, and innovation.
<br>
Below are some of my past classes and presentations.
<br>


<h2>Courses</h2>
{% include base_path %}
{% for post in site.teaching reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Talks and Presentations</h2>
{% include base_path %}
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
